repos:
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
    - id: isort
      args: ["--profile", "black"]

- repo: https://github.com/PyCQA/bandit
  rev: 1.7.4
  hooks:
    - id: bandit
      exclude: tests/

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: end-of-file-fixer
    - id: check-added-large-files
      args:
        - "--maxkb=1024"
    - id: pretty-format-json
      args:
        - "--autofix"

- repo: https://github.com/ambv/black
  rev: 23.1.0
  hooks:
    - id: black
      args:
        - --line-length=88
        - --include='\.pyi?$'
      language_version: python3.11


- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.0.1
  hooks:
    - id: mypy
      additional_dependencies:
        - 'sqlalchemy[mypy]'
        - 'types-freezegun'
        - 'pydantic'


- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
    - id: flake8
      args:
        - "--max-line-length=88"
        - "--max-complexity=18"
        - "--select=B,C,E,F,W,T4,B9"
        - "--ignore=E203,E266,E501,W503,F403,F401,E402"
