{
  "exchange": "bybit",
  "exchange_api_key": "",
  "exchange_api_secret": "",
  "min_volume": 15000,
  "min_distance": 0.15,
  "bot_name": "",
  "symbol": "BTCUSD",
  "min_fee": 0.17,
  "divider": 7,
  "telegram_api_token": "",
  "telegram_chat_id": "",
  "avoid_fees": false,
  "linear_taker_fee": 0.085,
  "wallet_exposure": 1.00,
  "violent_multiplier": 2.00,
  "profit_multiplier_pct": 0.01
}
